body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 5px solid #999;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
  height: 75px;
  width: 75px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  width: 235px;
  margin: 0 auto;
}

.game-board {
  border: 5px solid #999;
  margin-top: 50px;
}

.game-row {
  display: flex;
  flex-wrap: wrap;
}

.game-info {
  margin-top: 20px;
  text-align: center;
}

.game-info div {
  font-size: 30px;
  font-weight: bold;
}

.game-info ol {
  list-style-type: none;
  margin: 10px 0 0;
  padding: 0;
}

.game-info button {
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  width: 170px;
  margin-bottom: 5px;
  border: 2px solid #999;
}

.game-info button:hover {
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
}

.game-info button:active {
  transform: scale(0.98);
}
